## Ignore the build folder
target/
log/

## Ignore any artifacts
*.jar

## Eclipse project files
.settings/
.classpath
.project

## IntelliJ project files
*.iml
.idea

## Mac Files
.DS_Store

## Pom Version Backup
pom.xml.versionsBackup​

## sonar
.sonar
